<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>add risk</title>
    </head>
    <body>
	<div>
    <form th:action="@{${action}}" method="post" th:object="${risk}">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <div>
                <h2 th:text="${heading}">New Risk</h2>
            </div>
        </div>
        
        <div>
            <div th:classappend="${#fields.hasErrors('name')}? 'error' : ''">
                <textarea th:field="*{name}" placeholder="Risk description"></textarea>
                <div class="error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            </div>
        </div>
        <br/><br/>

        <div>
        
        <!-- I could do it only thanks to -->
        <!--  https://stackoverflow.com/a/23294426/6332774 -->
        <!-- but I am not sure if it is clean and whether it is totally safe -->
        
        <table>
        		<span th:each="top, iterStat : ${topics}" th:remove="tag">
        			<span th:if="${iterStat.first}" th:remove="tag">
        				<span th:remove="tag" th:utext="${begincolumn}"></span>
        			</span>
        			
        			<!--  change number of colums needed here, currently 3 columns  -->
        			<span th:if="${iterStat.index % 3 == 0}" th:remove="tag">
        				<span th:remove="tag" th:utext="|${endcolumn}  ${begincolumn}|"></span>
        			</span>
        			
        			<th>
        				<input type="checkbox" th:field="*{topic}"  th:value="${top.id}"/><label th:text=" | &nbsp; ${top.name}|">Something is wrong !</label>
				</th>
        			
        			<span th:remove="tag" th:if="${iterStat.last}" >
        				<span th:remove="tag" th:utext="${endcolumn}"></span>
        			</span>

        		</span>
        		</table>
        </div>
        
        <br/><br/>
        <div>
        		<div th:each="typ : ${types}">
        			<input type="radio" th:field="*{type}"  th:value="${typ.id}"/><label th:text="| &nbsp; ${typ.name} |">Something is wrong !</label>
        		</div>
        </div>
        <br/><br/>
 
        <div>
            <div>
                <select th:field="*{mode}">
                    <option value="" disabled="disabled">Mode to which this risk is related</option>
                    <option th:each="mo : ${modes}" th:value="${mo.id}" th:text="${mo.name}"></option>
                </select>
            </div>
        </div>
 		<br/><br/>       
        <div>
            <div>
                <button th:text="${submit}">Add</button>
                &nbsp; &nbsp; <button th:href="@{/risks}">Cancel</button>
            </div>
        </div>
    </form>
    
    
</div>
</body>
</html>